.form-control{
    width: 500px;
}
#submit_button{
    width: 500px;
    margin-bottom: 150px;
}
#container{
    padding-left: 150px;
    padding-top: 50px;
    width: 90%;
}
ul{
    max-height: 200px;
    overflow: auto;
}
.dropdown{
    float: left;
    display: inline;
}
.info-div{
    width: 100%;
    height: 20px;
}
#image img{
    width: 250px;

}
#img-tip-div{
    position: absolute;
    top: 40px;
    left: 100px;
    color: gray;
}
#image a{
    width: 260px;
    min-height: 100px;
}